<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Marchands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mainContent" >
    <!-- <ion-card-subtitle class="title">Awesome Subtitle</ion-card-subtitle> -->
    <ion-searchbar placeholder="Search..." [debounce]="100" (ionInput)="handleInput($event)"></ion-searchbar>
    <!-- <ion-list lines="none" *ngIf="merchantsObs$ | async"> -->
    <ion-list lines="none" *ngIf="merchantRechercheObs$ | async as merchantsOb">
      <!-- <ion-item class="Item" *ngFor="let merchant of merchants"> -->
      <ion-item class="Item" *ngFor="let merchant of merchantsOb">
        <ion-avatar>
          <img src="../../../../assets/images/user.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>{{merchant.merchantTitle}}</h2>
          <p>{{merchant.tel}}</p>
        </ion-label>
        <ion-button>
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="block" [routerLink]="['/menu/merchant/add']" routerLinkActive="router-link-active">Ajout marchand</ion-button>
</ion-footer>
