
ion-card-subtitle {

    padding-left: 1.2rem;
    margin-top: 1.9rem;
    padding-bottom: 0.3rem;
    --color: white;
}

.title {

    --color: var(--primary);
}

ion-searchbar {

    --border-radius: 10px;
    --background: white;
    --color: black;
    min-height: 5rem;
    padding: 1rem;
    padding-top: 0;
    margin-top: 1rem;
}

ion-list {

    background-color: var(--secondary);
}

ion-footer {

    background-color: var(--secondary);
    padding: 1rem;

    ion-button {

        --background: var(--primary);
        --background-focused: #6f6bbb;
        --background-activated: #6f6bbb;
        --padding-top: 1rem;
        --padding-bottom: 1rem;
        --padding-start: 0.75rem;
        --padding-end: 0.75rem;
        height: 3.5rem;
        font-weight: 700;
    }
}


.Item {

    --border-radius: 10px;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: 5rem;
    ion-avatar {
        --border-radius: 10px;
        zoom: 1.3;
    }

    ion-label {

        padding-left: 1.2rem;

        h2 {

            font-weight: 600;
            letter-spacing: -0.02rem;
        }

        p {

            letter-spacing: -0.03rem;
        }
    }

    ion-button {

        --background: var(--primary);
        --background-focused: #6f6bbb;
        --background-activated: #6f6bbb;
        --padding-top: 1rem;
        --padding-bottom: 1rem;
        --padding-start: 0.75rem;
        --padding-end: 0.75rem;
        margin-top: -0.2rem;
    }
}