@font-face {
    font-family: 'Rawson-SemiBold';
    src: url("./rawson/Rawson-SemiBold.otf");
  }
  @font-face {
    font-family: 'Rawson-Medium';
    src: url("./rawson/Rawson-Medium.otf");
  }
  @font-face {
    font-family: 'Rawson-Bold';
    src: url("./rawson/Rawson-Bold.otf");
  }
  @font-face {
    font-family: 'Rawson-LightIt';
    src: url("./rawson/Rawson-LightIt.otf");
  }
  @font-face {
    font-family: 'Rawson-MediumIt';
    src: url("./rawson/Rawson-MediumIt.otf");
  }
  @font-face {
    font-family: 'Arial-Regular';
    src: url("./arial/Arial-Regular.ttf");
  }
  @font-face {
    font-family: 'Gilroy-BoldIt';
    src: url("./gilroy/Gilroy-BoldItalic.ttf");
  }
  @font-face {
    font-family: 'Gilroy-Extra-Bold';
    src: url("./gilroy/Gilroy-ExtraBold.ttf");
  }