.homeMainContent{
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
}
.header{
    ion-grid{
        padding-top: 0;
    }
    ion-buttons{
        color: var(--primary);
    }
    .notification{
        position: absolute;
        top: .5rem;
        right: 0;
    }
    img{
        width: 5rem;
        max-height: 5rem;
        border-radius: 0.5rem;
        margin-left: auto !important;
        // margin-right: 1rem;
    }
    .profileUser{
        padding-left: .3rem;
        padding-right: .3rem;
        margin-bottom: .4rem;
        .hello{
            padding-left: 0;
            ion-note{
                font-family: 'Gilroy-Semi-BoldIt';
                font-size: 1.1rem;
                color: #00000082;
            }
        }
        ion-label{
            font-family: 'Gilroy-Bold';
            font-size: 1.4rem;
            .last-name{
                color: var(--primary);
            }
        }
    }
}
.homeMenu{
    margin-bottom: 1rem;
    ion-col{
        ion-card{
            margin: 0 auto;
            width: 100%;
            min-width: 8rem;
            text-align: center;
            font-family: 'Gilroy-Extra-Bold';
            border-radius: 1rem;
            ion-icon{
                font-size: 1.7rem;
                color: var(--primary);
            }
        }
    }
}
.menu-title{
    font-family: 'Gilroy-Ultra-Light';
    font-weight: 600;
}
.menu-date{
    font-family: 'Gilroy-BoldIt';
    font-size: 0.9rem;
}
.aproposdeVous{
    ion-card-content{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-inline-start: 0;
        padding-inline-end: 10px;
        .iconAppropos{
            text-align: center;
            padding-top: .7rem;
        }
        .textAppropos{
            font-family: 'Gilroy-Regular';
            .titleClassement{
                font-family: 'Gilroy-Bold';
                font-size: 1rem;
            }
            // .star{
            //     ion-icon{
            //         font-size: 1.3rem;
            //     }
            //     .goldStart{
            //         color: #fcd80f;
            //     }
            // }
        }
    }
}
.cardView{
    // --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    ion-card-header{
        padding-top: 10px;
        padding-bottom: 7px;
    }

    ion-card-content{
        padding-inline-start: 0;
        padding-inline-end: 0;
        padding-bottom: 5px;
        ion-row{
            font-family: 'Gilroy-Regular';
            font-size: .9rem;
            margin-bottom: 0.3rem;
            .todayText{
            }
        }
    }
}
.todayNum{
    font-family: 'Gilroy-BoldIt';
    // font-weight: 600;
}