ion-item{
    --padding-end: 16px;
    ion-icon{
        position: relative;
        bottom: -0.6rem;
        left: 0.1rem;
        // color: #1ae11a;
    }
}
.pieceView{
    // width: 100px;
    // height: 108px;
    border: 2px solid #5a55ca;
    width: 100%;
    border-radius: 1rem;
    // height: 100%;
    ion-img{
        width: 100%;
        height: 100%;
    }
}
.error-container {
    padding-left: 16px;
    .error-message {
      margin: 16px 0px;
      display: flex;
      align-items: center;
      color: var(--ion-color-danger);
      font-size: 14px;

      ion-icon {
        font-size: 16px;
        padding-inline-end: 8px;
      }
    }
}
ion-grid{
    margin-top: 13px;
    /* --padding-start: 6px; */
    padding-left: 10px;
    padding-right: 10px;
    ion-row{
        ion-col{
            text-align: center;
        }
    }
}
